body {
  background-color: rgb(37, 35, 51);
}

.cardContainer {
  background-color: aquamarine;
  display: flex;
  width: 25vw;
  height: 25vh;
  margin: auto;
  margin-top: 5vh;
  padding: 25px;
  border: cadetblue solid 3px;
  border-radius: 2.5%;
  font-size: 1.5em;
  align-items: center;
  flex-direction: column;
}

.username {
  font-weight: 750;
}

header {
  background-color: steelblue;
  color: white;
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
  border-bottom: black solid 5px;
}
